*[hidden] { display: none; }

.mw {

    &__map-container {

        &__svg {
            position: relative;

            .mapTooltip {
                position: absolute;
            }
        }
    }

    &__waypoint-wrapper {
        position: relative;
    }

    &__waypoint {
        position: absolute;
        top: -200px;
    }
}