*[hidden] { display: none; }

.mw {

    &__map-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;

        &__svg {
            position: relative;

            .mapTooltip {
                position: absolute;
            }
        }
    }

    &__waypoint-wrapper {
        position: relative;
    }

    &__waypoint {
        position: absolute;
        top: -200px;
    }
}